@font-face {
  font-family: "PT Sans";
  font-style: "normal";
  font-weight: 400;
  src:url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: "normal";
  font-weight: 700;
  src:url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
&::before {
  box-sizing: border-box;
}

.html{
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans",sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  min-width: 1280px;
}

.header-index {
  color: #000000;
  background-color: #FFFFFF;
  min-height: 64px;
}

.navigation{
  display: flex;
  margin: 0 auto;
  width: 1060px;
  flex-wrap: wrap;
  position: relative;
}

.logo{
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
}

.navigation-list{
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
  margin: 0 0 0 150px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color:#000000;
  text-decoration: none;
  display: flex;
  padding: 20px 16px;
}

.navigation-user{
  margin-left: auto;
  }

.nav-button{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 50px;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
  max-width: 160px;
  word-break: break-all;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);;
}

.search-icon{
  background-image: url("../images/search-icon.svg");
  width: 20px;
  height: 20px;
  padding: 22px 12px;
  background-position: center;
  background-repeat: no-repeat;
}

.favorit-icon{
  background-image: url("../images/favorites-icon.svg");
  width: 20px;
  height: 20px;
  padding: 22px 12px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.page-container{
  width: 1200px;
  margin: 0 auto;
}

.hero{
  background-image: url("../images/background-welcome.jpg");
  background-color:rgba(84, 136, 154, 0.79);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 485px;
  position: relative;
}

.hero::after{
  content: "";
  background-image: url("../images/divider.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 57px;
  display: block;
  position: absolute;
  bottom: 0;
}

.main-image{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-height: 100%;
  object-fit: contain;
}

.img{
  max-width: 100%;
  object-fit: contain;
}

.advantages{
  padding-top: 69px;
}

.index-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  max-width: 630px;
  margin: 0 auto;
}

.index-subtitle{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 25px 0 90px 0;
}

.advantages-list{
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages-item{
  min-width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
}

.advantages-item-wide{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;

}

.wide-columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
}

.advantages-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  max-width: 175px;
  margin: 0 auto;
}

.advantages-discription{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  max-width: 235px;
  margin: 0 auto;

}

.advantages-item-wide{
  color: #FFFFFF;
  background-color: #82b3d3;
}

.place-and-turists{
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.road{
  background-color:  rgba(131, 179, 211, 0.20);
  color: #000000;
}

.services{
  text-align: center;
}

.services-list{
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.services-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 505px;
  margin: 0 auto;
  margin-top: 64px;
}

.services-subtitle{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 64px;
}

.house-icon{
  background-image: url(../images/hotels.svg);
  width: 400px;
  height: 385px;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 100px;
  box-sizing: border-box;
  }

.food-icon{
  background-image: url(../images/food.svg);
  width: 400px;
  height: 385px;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 100px;
  box-sizing: border-box;
  }

.souvenirs-icon{
  background-image: url(../images/souvenirs.svg);
  width: 400px;
  height: 385px;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 100px;
  box-sizing: border-box;
  }

.services-item{
  background-color: rgba(0, 0, 0, 0.012);
  position: relative;
}

.services-caption{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.services-discription{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  max-width: 230px;
  margin: 0 auto;
}

li.services-item:nth-child(1),
li.services-item:nth-child(3){
  background-color: #83B3D31F;
}

.intrigue{
  text-align: center;
  padding: 96px 304px;
}

.intrigue-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.intrigue-subtitle{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}


.intrigue-link{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 50px;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
  max-width: 376px;
  word-break: break-all;
}

.subscription{
  padding: 96px 258px 104px 258px;
  color: #FFFFFF;
}

.behind-image{
  background-image: url(../images/background-subscribe-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(84, 136, 154, 0.79);
}

.subscription-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.subscription-subtitle{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  width: 475px;
  margin: 0 auto 54px auto;
}

.subscription-field{
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  width: 452px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscription-button{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 50px;
  color: #FFFFFF;
  background-color: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
}

.subscription-form{
  width: 684px;
  max-height: 52px;
  margin: 0 auto;
  display: flex;
}

.page-footer-container{
  display: flex;
  margin: 40px auto 30px auto;
  min-height: 50px;
  width: 1060px;
  align-items: center;
  justify-content: space-between;
}


.social-list{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.social-link{
  text-decoration: none;
  padding: 8px 11px;
}

.htmlacademy-link{
  text-decoration: none;

}

.phone-num{
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  align-items: center;
  color:#000000;
  text-decoration: none;
}

.header-inner{
  background-image: url(../images/background-filters.jpg);
  background-color:rgba(84, 136, 154, 0.79);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px 70px;
  color: #FFFFFF;
}

.title-inner{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrums-list{
  display: flex;
  align-items: center;
  padding: 0;
}

.breadcrums-list li:not(:first-child){
  /*background-image: url(../images/breadcrums-arrow.svg);
  content: "";
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 6px;
  height: 9px;
  display: block;
  position: absolute;*/
  margin-left: 28px;
}

.breadcrums-item{
  list-style: none;
  width: 73px;
  height: 21px;
  display: flex;
  align-items: center;
  padding: 0;
}

.home-icons{
  background-image: url(../images/breadcrumbs-home.svg);
  width: 13px;
  height: 15px;
  background-repeat: no-repeat;
}

.breadcrums-link{
  text-decoration: none;
  color: #FFFFFF;
}

.form-filter{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-filter{
  border: none;
  min-width: 150px;
  padding: 0;
}

.filter-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
}

.catalog-filter-list{
  list-style: none;
  padding: 0;
}

.catalog-filter-item{
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.control-input{
  width: 20px;
  height: 20px;
}

.filter-price{
  border: none;
  padding: 0;
}

.range-price{
  display: flex;
  align-items: center;
}

.form-fieldset{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 143px;
  padding: 12px 20px;
  border: none;
}

.fieldset-from{
  border-radius: 4px 0 0 4px;
}

.fieldset-to{
  border-radius: 0 4px 4px 0;
}

.range-button{
  width: 20px;
  height: 20px;
  color:#FFFFFF;
}

.form-butttons{
  max-width: 195px;
}

.button-submit{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #82b3d3;
  border: none;
}

.button-reset{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #ffffff00;
  border: none;
}

.search-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 292px;
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  color: #000000;
}

.view-table{
  background-image: url("../images/view-catalog-icon-1.svg");
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  border: 2px solid var(--icons-basic, #000);
  background-color: #FFFFFF;
}

.view-card{
  background-image: url("../images/view-catalog-icon-2.svg");
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  border: 2px solid var(--icons-basic, #000);
  background-color: #FFFFFF;
}

.view-list{
  background-image: url("../images/view-catalog-icon-3.svg");
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  border: 2px solid var(--icons-basic, #000);
  background-color: #FFFFFF;
}

.product-list{
  list-style: none;
}

.product-card{
  list-style: none;
  width: 340px;
  height: 438px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.product-card-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.product-card-price{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 300px;
  height: 21px;

}
.product-card-more{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 50px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #756157;
  border-radius: 4px;
  max-width: 140px;
  height: 36px;
  text-align: center;
}

.product-card-favorite{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  /*padding: 8px 50px;*/
  color: #FFFFFF;
  border: none;
  background-color: #82b3d3;
  border-radius: 4px;
  height: 36px;
  width: 140px;
  text-align: center;
}

.star{
  background-image: url(../images/icon-star.svg);
  width: 18px;
  height: 17px;
}

.hotel-raiting{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px 50px;
  border: none;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.favorite-like{
  background-color: #7DB54F;
}

.pagination-list{
  list-style: none;
  width: 1060px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 40px auto 60px;
  padding: 0;
}

.pagination-link{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
  background-color: #82b3d3;
  color: #FFFFFF;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.pagination-current{
  color: #000000;
  background-color: #F2F2F2;
  width: 60px;
  height: 60px;
}

.pagination-more{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
  border: none;
  width: 60px;
  height: 60px;
  display: table;
}

.catalog-color{
  color: #000000;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
